build-grub/ 
grub/ 
objconv/
isodir/
.objs/
*.log
*.o
*.bin
*.iso
*.a
.DS_Store
i686-toolchain/
x86_64-toolchain/
initrd/
.gdbinit
.idea

.vscode/
__pycache__/

i686-toolchain-attempt1/
/axle-sysroot/usr/i686-axle/lib/
programs/cross_axle_generated.ini

# Arch specific files that are staged based on the current architecture
kernel/boot/boot.s
kernel/kernel/util/walk_stack.s
kernel/kernel/multitasking/tasks/process_small.s
kernel/kernel/segmentation/gdt_activate.s
kernel/kernel/interrupts/idt_activate.s
kernel/kernel/interrupts/int_handler_stubs.s
kernel/kernel/pmm/pmm_int.h
kernel/kernel/pmm/pmm.c
kernel/kernel/vmm/vmm.h
kernel/kernel/vmm/vmm.c

# Sysroot generated as part of OS build
axle-sysroot

rust_programs/*/target
mkinitrd/target

# Rust libraries generated as part of the kernel build
.compiled_rust_kernel_libs
rust_kernel_libs/target

# AP bootstrap compiled as part of the kernel build
.compiled_ap_bootstrap

bootloader/BOOTX64.EFI
bootloader/BOOTX64.pdb
